USE [master]
GO
/****** Object:  Database [Arduino]    Script Date: 20.12.2017 13:40:20 ******/
CREATE DATABASE [Arduino]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Arduino', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Arduino.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Arduino_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Arduino_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Arduino].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Arduino]
GO
/****** Object:  Table [dbo].[OLCUM]    Script Date: 20.12.2017 13:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OLCUM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MESAFE] [nvarchar](50) NOT NULL,
	[DERECE] [nvarchar](50) NOT NULL,
	[TARIH] [datetime] NOT NULL,
 CONSTRAINT [PK_OLCUM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SETTING]    Script Date: 20.12.2017 13:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SETTING](
	[UYARIDERECE] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER]    Script Date: 20.12.2017 13:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KULLANICI_ADI] [nvarchar](50) NOT NULL,
	[SIFRE] [nvarchar](50) NOT NULL,
	[ISIM] [nvarchar](50) NOT NULL,
	[SOYISIM] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UYARI]    Script Date: 20.12.2017 13:40:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UYARI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MESSAGE] [ntext] NOT NULL,
	[GONDERILME_TARIHI] [datetime] NOT NULL,
 CONSTRAINT [PK_UYARI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
